.resenha-rooms-table {
  .resenha-rooms {
    .resenha-rooms__name {
      font-weight: 600;
    }

    .resenha-rooms__controls {
      display: flex;
      gap: 0.5em;
      justify-content: flex-end;
    }
  }
}
